---
import Layout from '../layouts/Layout.astro';
import Profile from '../components/Profile.astro';
import About from '../components/About.svelte';
import Projects from '../components/Projects.svelte';
import Works from '../components/Works.svelte';
import { ProfileData } from '../constants/data';
import BG from '../components/BG.astro';
import Social from '../components/Social.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <BG />
  <div
    class="relative container mx-auto grid items-center gap-x-2 overflow-x-clip py-2 lg:grid-cols-[22%_1fr] lg:gap-x-6"
  >
    <div
      class="sticky inset-y-4 top-0 right-0 left-0 flex h-[calc(100vh-32px)] flex-col justify-between"
    >
      <Profile name={ProfileData.name} description={ProfileData.slug} />
      <Social />
    </div>

    <div class="relative grid w-full lg:grid-cols-[1fr_20%]">
      <div class="relative">
        <About />
        <Projects />
        <Works />
        <Works />
        <Footer />
      </div>
    </div>
  </div>
</Layout>
