---
import { Image } from 'astro:assets';
import profileImg from '../../assets/profile_img.png';

const { name, description } = Astro.props;
---

<figure>
  <Image src={profileImg} alt="Profile" class="w-full rounded-xl" />
  <figcaption class="pr-4">
    <h1 class="header-1">{name}</h1>
    <p class="desc">{description}</p>
  </figcaption>
</figure>
